*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
a{
  text-decoration: none;
}
ul{
  margin: 0;
}
li{
  list-style: none;
}
.form-switch input{
  height: 30px;
  width: 50px !important;
  cursor: pointer;
}
