.sidebar-widget{
    margin-bottom: 30px;
    .widget-title{
        font-size: 16px;
        font-weight: 200;
        text-transform: uppercase;
    }
    .list{
        padding-left: 0px;

        li{
            font-weight: 200;
            font-size: 14px;
        }
    }
    .price-search{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        input{
            width: 30%;
            height: 40px;
            padding: 0px 20px;
            border: 1px solid #ccc;
        }
        button{
            padding: 0 10px;
            height: 40px;
            border: 1px solid #FFCA2C;
            background-color: #FFCA2C;
            cursor: pointer;
        }
    }
}