

.menu{
    background-color: #ffbf00;
    ul{
        display: flex;
        gap: 10px;
        li{
            padding: 10px 20px;
            a{
                color: #000;
                text-transform: uppercase;
            }
        }
    }
}